/*
	Reference Styling for An Interactive Row of Thumbnails
*/
@media all {
  .thumbnails {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    display: block;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  .thumbnails * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  .thumbnails ul {
    display: block;
    margin: 0 auto;
    padding: 0 10%;
    white-space: nowrap;
    width: auto;
  }
  .thumbnails ul li {
    -webkit-transition: margin-left ease;
    -webkit-transition-delay: 500ms;
    -moz-transition: margin-left ease 500ms;
    -o-transition: margin-left ease 500ms;
    transition: margin-left ease 500ms;
    display: inline-block;
    list-style-type: none;
  }
  .thumbnails ul li img {
    margin-left: 1px;
    vertical-align: middle;
  }
  .thumbnails button {
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0px, #ffffff), color-stop(1px, #ffffff), color-stop(1px, #ebebeb), color-stop(100%, #9f9f9f));
    background: -webkit-linear-gradient(top, #ffffff 0px, #ffffff 1px, #ebebeb 1px, #9f9f9f 100%);
    background: -moz-linear-gradient(top, #ffffff 0px, #ffffff 1px, #ebebeb 1px, #9f9f9f 100%);
    background: -o-linear-gradient(top, #ffffff 0px, #ffffff 1px, #ebebeb 1px, #9f9f9f 100%);
    background: linear-gradient(top, #ffffff 0px, #ffffff 1px, #ebebeb 1px, #9f9f9f 100%);
    -webkit-box-shadow: 0 1px 3px black;
    -moz-box-shadow: 0 1px 3px black;
    box-shadow: 0 1px 3px black;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
    background-color: #999;
    border: solid 1px #333;
    color: #333;
    display: block;
    font-size: 16px;
    font-weight: bold;
    overflow: hidden;
    position: absolute;
    text-shadow: 1px 1px #ccc;
    width: 32px;
  }
  .thumbnails button.tn-enabled {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }
  .thumbnails button.tn-disabled {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5;
  }
  .thumbnails button.tn-left {
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    -ms-border-radius: 4px 0 0 4px;
    -o-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
    bottom: 0;
    left: 0;
    top: 0;
    width: 10%;
  }
  .thumbnails button.tn-right {
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    -ms-border-radius: 0 4px 4px 0;
    -o-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
    bottom: 0;
    right: 0;
    top: 0;
    width: 10%;
  }
}
