/*
	Reference Styling for An Interactive Row of Thumbnails
*/
@media all {
  /*
  	Definitions
  */
  /*
  	Buttons
  */
  .thumbnails-scroller {
    display: block;
    height: 128px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  .thumbnails-scroller * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  .thumbnails-scroller ul {
    -webkit-transition: margin-left ease;
    -webkit-transition-delay: 500ms;
    -moz-transition: margin-left ease 500ms;
    -o-transition: margin-left ease 500ms;
    transition: margin-left ease 500ms;
    display: block;
    margin: 0;
    padding: 0 10%;
    white-space: nowrap;
    width: auto;
  }
  .thumbnails-scroller ul li {
    display: inline-block;
    list-style-type: none;
  }
  .thumbnails-scroller ul li a {
    background: #ff6a00;
    display: inline-block;
    margin-left: 1px;
  }
  .thumbnails-scroller ul li a img {
    -webkit-transition: opacity ease;
    -webkit-transition-delay: 500ms;
    -moz-transition: opacity ease 500ms;
    -o-transition: opacity ease 500ms;
    transition: opacity ease 500ms;
    border: none;
    height: 128px;
    vertical-align: middle;
  }
  .thumbnails-scroller ul li a:hover img, .thumbnails-scroller ul li a.tn-active img {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5;
  }
  .thumbnails-scroller button {
    overflow: hidden;
    position: relative;
    text-align: left;
    text-indent: 58px;
    white-space: nowrap;
    /* Because of Internet Explorer 8 we can't have nice thing. */
    overflow: visible\9;
    text-indent: -999em\9;
    cursor: pointer;
    background: #ff6a00;
    display: block;
    height: auto;
    position: absolute;
  }
  .thumbnails-scroller button:before {
    content: '';
    display: block;
    height: 32px;
    position: absolute;
    left: 50%;
    margin-left: -16px;
    margin-top: -16px;
    top: 50%;
    width: 32px;
    background-image: url(../img/thumbnails.png);
  }
  .thumbnails-scroller button.tn-enabled:hover {
    background: #ff9800;
  }
  .thumbnails-scroller button.tn-disabled {
    background: #7f7f7f;
  }
  .thumbnails-scroller button.tn-left {
    bottom: 0;
    left: 0;
    top: 0;
    width: 10%;
  }
  .thumbnails-scroller button.tn-left:before {
    background-position: 0 0;
  }
  .thumbnails-scroller button.tn-right {
    bottom: 0;
    right: 0;
    top: 0;
    width: 10%;
  }
  .thumbnails-scroller button.tn-right:before {
    background-position: 0 -32px;
  }
  .thumbnails-scroller.tn-square ul li a {
    height: 128px;
    overflow: hidden;
    position: relative;
    width: 128px;
  }
  .thumbnails-scroller.tn-square ul li a img {
    height: auto;
    left: 50%;
    margin-left: -64px;
    margin-top: -64px;
    position: absolute;
    top: 50%;
  }
}
@media all {
  button, .button {
    -webkit-transition-property: background-color;
    -moz-transition-property: background-color;
    -o-transition-property: background-color;
    transition-property: background-color;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
    height: 48px;
    height: 3rem;
    line-height: 48px;
    line-height: 3rem;
    padding-top: 0px;
    padding-top: 0rem;
    padding-right: 16px;
    padding-right: 1rem;
    padding-bottom: 0px;
    padding-bottom: 0rem;
    padding-left: 16px;
    padding-left: 1rem;
    background-color: #ff6a00;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    overflow: visible;
    text-decoration: none;
  }
  button:hover, .button:hover {
    background-color: #ff9800;
    color: #fff;
    text-decoration: none;
  }
  button.disabled, button.disabled:hover, .button.disabled, .button.disabled:hover {
    background-color: #7f7f7f;
  }
}
