/*
	Reference Styling for An Interactive Row of Thumbnails
*/
@media all {
	@import "compass/css3";
	@import "compass/utilities";
	.thumbnails {
		@include border-radius(4px);
		display : block;
		margin : 0;
		padding : 0;
		overflow : hidden;
		position : relative;
		width : 100%;
		* {
			@include box-sizing(border-box);
			margin : 0;
			padding : 0;
		}
		ul {
			display : block;
			margin : 0 auto;
			padding : 0 10%;
			white-space : nowrap;
			width : auto;
			li {
				@include transition(margin-left ease 500ms);
				display : inline-block;
				list-style-type : none;
				a {}
				img {
					margin-left : 1px;
					vertical-align : middle;
				}
			}
		}
		button {
			@include background(linear-gradient(top, #fff 0%, #fff 0.5%, #ccc 0.5%, #999 99.5%, #666 100%));
			@include box-shadow(0 1px 3px #000000);
			@include opacity(1);
			@include transition-property(opacity);
			@include transition-duration(0.3s);
			@include transition-timing-function(ease);
			background-color : #ccc;
			border : solid 1px #333;
			color : #333;
			cursor : pointer;
			display : block;
			font-size : 16px;
			font-weight : bold;
			overflow : hidden;
			position : absolute;
			text-shadow : 1px 1px #ccc;
			width : 32px;
			&.tn-enabled:hover {
				@include background(linear-gradient(top, #fff 0%, #fff 0.5%, #999 0.5%, #ccc 99.5%, #666 100%));
			}
			&.tn-disabled {
				@include opacity(0.8);
			}
			&.tn-left {
				@include border-radius(4px 0 0 4px);
				bottom : 0;
				left : 0;
				top : 0;
				width : 10%;
			}
			&.tn-right {
				@include border-radius(0 4px 4px 0);
				bottom : 0;
				right : 0;
				top : 0;
				width : 10%;
			}
		}
	}
}
@media (min-width: 1200px) {}
@media (min-width: 980px) and (max-width: 1199px) {}
@media (min-width: 768px) and (max-width: 979px) {}
@media (max-width: 767px) {}
@media (max-width: 480px) {}
@media print {}
